* text=auto eol=lf
*.ts linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.js linguist-detectable=true
*.vue linguist-detectable=true
[http "https://github.com"]
	proxy = socks5://127.0.0.1:19181
	sslVerify = false
[https "https://github.com"]
	proxy = socks5://127.0.0.1:19181
	sslVerify = false
