.el-header {
  height: var(--sl-header-height);
  color: var(--sl-text-color-primary);
  line-height: var(--sl-header-height);
  text-align: center;
  border-bottom: 1px solid var(--sl-border-color);
}
